{% include 'header.html'%}
        <title>Healthy Me | Login</title>
        <link rel="icon" href="../../media/pictures/logo.png" type="image/x-icon">
        <style>
            form {
                margin: 63px 515px;
                width: 160px;
                padding: 50px 30px;
            }
            .table {
                width: 160px;
                padding: 20px 10px;
            }
            th {
                margin: 30px 590px;
                font-size: 30px;
                font-weight: bold;
                color:#ffffff;
            }
            input[type="email"], input[type="password"], input[type="text"] {
                width: 350px;
                height: 45px;
                margin: 10px 10px;
                border: 1px solid #17449e;
                color: #17449e;
            }
            input[type="submit"] {
                width: 350px;
                color: #ffffff;
                height: 45px;
                margin: 10px 10px;
                background-color: #17449e;
                font-weight: bold; 
                font-size: 18px;             
                border: 1px solid #17449e;
            }
            a {
                font-weight: bolder;
            }
        </style>
    </head>
    <body><center>
        <h1>Password is</h1>
        <br/>
        <h3>{{psw}}</h3></center>
    </body>
</html>
{% include 'footer.html'%}
